:root{
  --color: hsl(199, 100%, 96%);
  --border-color: hsl(0, 0%, 65%);
}

html {
    background-color: #ffffff;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
  }

  .home-main-block{
    z-index:-1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .company-branding{
    margin: 0 0 0 0;
    width: 60px;
    height: 60px;

    mask-image: url(../images/branding.svg);
	  mask-size: contain;
	  mask-repeat: no-repeat;
	  mask-position: center;
    background-color: hsl(0, 0%, 0%);
  }

  .company-logo{
    margin: -14.5px 0 0 0;
    width: 90px;
    height: 90px;

    mask-image: url(../images/logo.svg);
	  mask-size: contain;
	  mask-repeat: no-repeat;
	  mask-position: center;
    background-color: hsl(0, 0%, 0%);

  }

  .company-header{
    display: flex; /* 中の要素を横並びにする */
    width: 165px;
    height: 70px;
    margin: 15px;
    padding: 4px 0;
  }

  .company-sub-header{
    margin: 0 0 0 1.3rem;
  }

  .header-block{
    background-color:var(--color);
    padding: 1rem 0 2.5rem 0;
    border-bottom:1px solid var(--border-color);
}

.underline{
  display: flex;
}

.underline a:link{
  text-decoration:underline;
}
