.bg-clr {
  background-color: hsl(163, 23%, 25%);
}

/* ナビゲーションのスタイル */
.hamburger {
  position: fixed;
  /* ウィンドウを基準に画面に固定 */
  top: 1.5rem;
  /* 上下の固定位置を上から0pxにする */
  right: 1.5rem;
  z-index: 9000;

  /* width: 64px; */
  /* margin: 1rem 0.3rem; */
}

.company-hamburger {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0 0 0.9rem;
}

.services-hamburger {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0 0 0.9rem;
}

.links-detail {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  flex-flow: column;
}

.nav-links {
  z-index: 9000;
  top: 5rem;
  right: 0px;
  background-color: hsl(hue, saturation, lightness);
}

.nav-links a {
  display: block;

  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: hsl(var(--secondary));
}

.nl-element {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.expanded{
  display: block !important;
}

.cmp-branding {
  /* margin: 0 0 0 0; */
  width: 45px;
  height: 45px;

  mask-image: url(../images/branding.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.cmp-logo {
  width: 80px;
  height: 45px;

  mask-image: url(../images/logo.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

@media screen and (min-width: 920px) { /*PCサイズ*/

  .nav-links {
    display: block;
    /* 中の要素を横並びにする */
    width: 640px;
    height: 45px;
    /* 高さを45pxに指定 */
    background-color: hsl(var(--background));
    opacity: 85%;
    /* 背景色 */
    box-sizing: border-box;
    /* padding分を含んで幅を100%にするため */
    position: fixed;
    /* ウィンドウを基準に画面に固定 */
    top: 2rem;
    /* 上下の固定位置を上から0pxにする */

    margin: 0 1.5rem 0 auto;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  /*グリッド設定*/
  .nav-links .nav-links-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto auto;
    place-items: center;
  }

  /*判定範囲*/
  .nav-links .nav-links-block .link-block {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0rem;
    text-decoration: none;
    text-transform: uppercase;

    background-color: 0 0 0;
    /* 背景色 */
  }

  .nl-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pulldown-menu{
    display: contents;
  }

  .company-hamburger {
  }

  .services-hamburger {
  }

  .nav-links a {  
    text-align: center;
  }  

  .links-detail {
    display: none;
    grid-row: 2;
    grid-column: 1/5;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #acacac;
  }

  .hamburger {
    display: none;
  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  .dli-chevron-down {
    background-color: #ffffff;
    /* 背景色 */

  }
  
  .nav-links-block .relative{
    display: none;
  }

  .open{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    width: 100.3%;
    flex-flow: column;
    }

}

@media screen and (max-width: 919px) { /*スマホ*/

.hamburger{
  z-index: 9001;
}

.nav-links{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow:0px 1px 10px 2px hsl(0, 0%, 57%);
}

.nav-links .nav-links-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  /*中央揃え*/
  /*place-items: center;*/
}

.link-block {
  width: 100%;
}

.pulldown-menu{
  display: contents;
}

.nl-element {
  display: flex;
  align-items: center;
}

  .company-hamburger {
    width: 100%;
  }

  .services-hamburger {
    width: 100%;
  }

  .links-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  }

  .border-top {
    border-top: 1px solid #acacac;
  }

   .nav-links a {
    padding: 1.2rem 0 1.2rem 30px;
  }

  .nav-links .links-detail a{
    padding: 1.2rem 0 1.2rem 70px;
  }

  .branding-logo{
    display: flex;
    position: sticky;
  }

  .cmp-branding{
    height: 35px;
    width: 35px;
    margin: auto 0;
  }


  .nav-links .relative a {
    padding: 1.2rem 0 1.2rem 30px;
  }

  .menu-bottom-space{
    height: 40px;
  }  

}