.bg-clr {
  background-color: hsl(var(--foreground));
}

/* ナビゲーションのスタイル */
.hamburger {
  position: fixed;
  /* ウィンドウを基準に画面に固定 */
  top: 2.2rem;
  /* 上下の固定位置を上から0pxにする */
  right: 1.5rem;
  z-index: 9001;

}

.links-detail {
  font-size: .9rem;
  text-transform: uppercase;
  width: 100%;
  flex-flow: column;
}

.nav-links {
  z-index: 9000;
  top: 5rem;
  right: 0px;
  background-color: hsl(hue, saturation, lightness);
}

.nav-links a {
  display: block;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: hsl(var(--secondary));
}

.link-format {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.expanded{
  display: block !important;
}

.cmp-branding {
  width: 72px;
  height: 48px;

  mask-image: url(../images/branding.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.cmp-logo {
  margin-left: -0.9rem;
  width: 105px;

  mask-image: url(../images/logo.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.open{
  display: grid !important;
}

@media screen and (min-width: 920px) { /*PCサイズ*/
  .nav-links {
    display: block;
    width: 100%;
  }

  .nav-branding{
    display: none;
  }

  /*グリッド設定*/
  .nav-links .nav-links-block {
    z-index: 9001;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 45px auto;
    place-items: center;

    width: 640px;
    height: 45px;
    /* 高さを45pxに指定 */
    background-color: hsl(var(--background));
    opacity: 85%;
    /* 背景色 */
    box-sizing: border-box;
    /* padding分を含んで幅を100%にするため */
    position: fixed;
    /* ウィンドウを基準に画面に固定 */
    top: 1rem;
    /* 上下の固定位置を上から0pxにする */
    right: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

  }

  /*判定範囲*/
  .nav-links .nav-links-block .detection-size {
    width: 100%;
    padding: 0.65rem 0;
  }

  .link-format {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pulldown-menu{
    display: contents;
  }

  .responsive-link {
    width: 100%;
  }  

  .nav-links a {  
    text-align: center;
  }  

  .links-detail {
    display: none;
    grid-row: 2;
    grid-column: 1/5;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    width: 100.3%;
    flex-flow: column;

    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(var(--border));
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  .hamburger {
    display: none;
  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  .dli-chevron-down {
    background-color: #ffffff;
  }
  
  .nav-links-block .relative{
    display: none;
  }

  .x-icon{
    display: none;
  }

  .alignJustify-icon{
    display: flex;
    padding: 0 0 0.1rem 0.2rem;
  }
}
@media screen and (max-width: 919px) { /*スマホ*/

.hamburger{
  z-index: 9001;
}

.expanded{
  display: block !important;
  max-height: 1920px !important;
  box-shadow:0px 1px 10px 2px hsl(0, 0%, 57%);
}

.nav-links{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.nav-links .nav-links-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
}

.detection-size {
  width: 100%;
}

.pulldown-menu{
  display: contents;
}

.link-format {
  align-items: center;
  padding: 1.5rem 0 1.5rem 25px;

}

.links-detail {
  display: none;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

.border-top {
  border-top: 1px solid hsl(var(--border));
}

  .nav-links .links-detail a{
    padding: 1.5rem 0 1.5rem 70px;
  }

  .branding-logo{
    display: flex;
    margin: 1.3rem -1rem;
  }

  .nav-links .relative a {
    padding: 1.2rem 0 1.2rem 21px;
  }

  .menu-bottom-space{
    height: 40px;
  }  

  .open-links-detail{
    display: grid !important;
    }  
 
  .alignJustify-icon{
    display: flex;
    padding: 0 0 0.1rem 0.2rem;
  }
  .x-icon{
    display: none;
    padding: 0 0 0.1rem 0.2rem;
  }
  .open-icon{
    display: none;
  }

  .close-icon{
    display: flex;
  }
}