.pp-title {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 2.0rem;
  font-weight: bold;
}

.bottom-line {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid hsl(var(--border));
  display: inline-block;

  font-size: 1.2rem;
  font-weight: bold;
}

.text-style {
  /* padding: 0.5rem 0 1.8rem 0; */
  padding: 1rem 0 4rem;
  font-size: 1.0rem;
  line-height: 1.4rem;
}