---
import Button from '@/components/Button.astro'

import '@/styles/globals.css'
import '@/styles/newsList.css'
import '@/styles/baseTopPageTextBox.css'

import BaseLayout from '../layouts/BaseLayout.astro'

import NewsList from '../components/NewsList.jsx'
import ServiceCards from '@/components/ServiceCards.astro'

type Article = {
  title: string
  description: string
  url: string
}
const articles: Article[] = [
  {
    title: 'News Article 1',
    description: 'This is a description of news article 1.',
    url: 'https://www.delc.jp/company.html',
  },
  {
    title: 'News Article 2',
    description: 'This is a description of news article 2.',
    url: 'https://example.com/news2',
  },
  {
    title: 'News Article 3',
    description: 'This is a description of news article 3.',
    url: 'https://example.com/news3',
  },
  {
    title: 'News Article 4',
    description: 'This is a description of news article 4.',
    url: 'https://example.com/news4',
  },
  // 追加のニュース記事...
]

const pageTitle = 'DELC'
const tabTitle = 'DELC(株式会社デルク)'
---

<BaseLayout pageTitle={pageTitle} tabTitle={tabTitle}>
  <Fragment slot="hero">
    <pre
      class="font-bold text-xl max-md:text-lg leading-8 tracking-wider whitespace-pre-line ml-6">
      先進的な品質保証と
      エンジニアリングサポートを通じて
      デジタル世界をより良くする
    </pre>
  </Fragment>

  <div class="news expand">
    <div class="header">
      <div class="title-jp">お知らせ</div>
      <div class="title">NEWS</div>
      <div class="more">
        <a href="/news"><Button variant="default">VIEW MORE</Button></a>
      </div>
    </div>
    <NewsList articles={articles} />
  </div>

  <div
    class="relative businessContents overflow-clip bg-primary text-primary-foreground expand"
  >
    <div class="rounded-xl flex space-x-4 animate-fadeInUp h-96 px-6">
      <div class="absolute element-padding z-10">
        <p class="header">会社情報</p>
        <p class="header-ruby">COMPANY</p>
        <pre
          class="info whitespace-pre-line tracking-wider">
            私たちは、デジタル技術の進化を支え、社会全体の利便性と快適さを向上させることを目指します。

            そのために、卓越した検証サービスやエンジニアリングサポートの提供、技術的な課題解決や継続的な改善に取り組み、人々の生活を豊かにすべく活動を行います。
          </pre>

        <div class="view-button mt-12">
          <a href="/company"><Button variant="secondary">VIEW MORE</Button></a>
        </div>
      </div>
      <div class="logo-image bg-foreground"></div>
    </div>
  </div>

  <div class="businessContents h-[32rem]">
    <div class="element-padding">
      <p class="header">サービス案内</p>
      <p class="header-ruby">SERVICES</p>
    </div>
    <ServiceCards />
  </div>

  <div
    class="relative businessContents h-[32rem] overflow-clip bg-secondary text-secondary-foreground expand"
  >
    <div class="rounded-xl flex items-start space-x-4 animate-fadeInUp ml-5">
      <div class="absolute element-padding">
        <p class="header">採用情報</p>
        <p class="header-ruby">RECRUIT</p>
      </div>
      <div class="view-button mt-32 z-50">
        <a href="https://herp.careers/v1/delc"><Button>VIEW MORE</Button></a>
      </div>
      <div class="logo-image bg-background"></div>
    </div>
  </div>

  <div class="businessContents h-[32rem] flex items-start justify-between">
    <div class="rounded-xl flex items-center space-x-4 animate-fadeInUp">
      <div class="element-padding">
        <p class="header">お問い合わせ</p>
        <p class="header-ruby">CONTACT</p>

        <div class="view-button ml-4 mt-8">
          <a href="/contact"><Button variant="outline">CLICK HERE</Button></a>
        </div>
      </div>
    </div>
    <div
      class="shadow-sm border w-11/12 max-w-[40rem] h-full bg-[url('../images/tai-bui-iPsOfXA79U4-unsplash.jpg')] bg-center bg-cover bg-no-repeat rounded-full"
    >
    </div>
  </div>
</BaseLayout>
