---
import '@/styles/news.css'
import '@/styles/globals.css'
import '@/styles/contact.css'

import BaseLayout from '../layouts/BaseLayout.astro'
//import News from '../components/News.astro'

const pageTitle = 'NEWS'
const pageTitleRuby = 'お知らせ'
const tabTitle = 'お知らせ'
const destinationURLs = [{ url: 'news', ruby: 'お知らせ' }]
---

<BaseLayout {pageTitle} {pageTitleRuby} {tabTitle} {destinationURLs}>
  <div class="bg-secondary expand -mb-32 pt-8 pb-32 pl-8">
    <News/>
  </div>
</BaseLayout>