---
import { Button as BaseButton } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import { ChevronRight } from 'lucide-astro'
const { variant, className } = Astro.props
---

<BaseButton {variant} className={cn(className, 'flex group relative px-8')}>
  <div class="-ml-4">
    <slot />
  </div>
  <ChevronRight
    size={20}
    className="absolute opacity-85 group-hover:translate-x-[6px] transition-all right-[10px]"
  />
  <ChevronRight
    size={20}
    className="absolute opacity-85 group-hover:-translate-x-[6px] transition-all right-[4px]"
  />
</BaseButton>
