---
import { NavigationMenu } from './DelcNavigation'
import { Drawer } from '@/components/Drawer'
---

<header>
  <div class="md:hidden">
    <Drawer client:load />
  </div>
  <div class="max-md:hidden">
    <NavigationMenu client:load />
  </div>
</header>
