---
import { Building } from 'lucide-astro'
import { Presentation } from 'lucide-astro'
import { UserSearch } from 'lucide-astro'
import { Mail } from 'lucide-astro'
import { ChevronDown} from 'lucide-astro'

import '../styles/header.css'

import { cn } from '@/lib/utils'
---


<div class="nav-links">      
    <div class="nav-links-block">

        <div class="relative h-[5rem]">
            <a href="/" class="group w-40">
              <div class="branding-logo">
                <div
                class={cn(
                  'cmp-branding',
                  'bg-clr',
                  'group-hover:opacity-55 transition-all',
                )}
              >
              </div>
              <div
                class={cn(
                  'cmp-logo',
                  'bg-clr',
                  'group-hover:-translate-y-[1px] transition-all',
                )}
              >
              </div>
              </div>
            </a>
          </div>
          
        <div class="pulldown-menu">
        <a href="/company/" class="company-hamburger link-block">
            <div class="nl-element">
                <Building />会社情報<ChevronDown />
            </div>
        </a>
        <div class="links-detail border-bottom">
        <!--div class="company-links-detail border-bottom"-->
            <a href="/company/" class="link-block" data-astro-reload>会社情報</a>
            <a href="/location/" class="link-block" data-astro-reload>所在地</a>
            <a href="/history/" class="link-block" data-astro-reload>沿革</a>
        </div>
        </div>

        <div class="pulldown-menu">
        <a href="/services/" class="services-hamburger link-block">
            <div class="nl-element">
                <Presentation />事業案内<ChevronDown />
            </div>
        </a>
        <div class="links-detail border-bottom">
        <!--div class="services-links-detail border-bottom"-->
            <a href="/services/#debug" class="link-block" data-astro-reload>デバッグ事業</a>
            <a href="/services/#ses" class="link-block" data-astro-reload>SES事業</a>
            <a href="/services/#saas" class="link-block" data-astro-reload>SaaS事業</a>
        </div>
        </div>

        <a href="/recruit/" class="link-block border-bottom"
            ><div class="nl-element"><UserSearch />求人情報</div></a
        >

        <a href="/contact/" class="border-bottom link-block border-bottom"
            ><div class="nl-element"><Mail />お問い合わせ</div></a
        >
        
        <div class ="space"></div>
    </div>
</div>


