---
import { Building } from "lucide-astro";
import { Presentation } from "lucide-astro";
import { UserSearch } from "lucide-astro";
import { Mail } from "lucide-astro";

import '../styles/header.css';
---

<div class="nav-links" style="text-align: right;">
    <div class="nav-links-block">
    <div class="company-hamburger border-bottom"><div class="nl-element"><Building />COMPANY<span class="dli-chevron-down" /></div></div>
    <div class="company-links-detail border-bottom">
        <a href="/company/" data-astro-reload>会社情報</a>
        <a href="/location/" data-astro-reload>所在地</a>
        <a href="/history/" data-astro-reload>沿革</a>
    </div>
    <div class="services-hamburger border-bottom"><div class="nl-element"><Presentation />SERVICES<span class="dli-chevron-down" /></div></div>
    <div class="services-links-detail border-bottom">
        <a href="/services/#debug" data-astro-reload>デバッグ事業</a>
        <a href="/services/#ses" data-astro-reload>SES事業</a>
        <a href="/services/#saas" data-astro-reload>SAAS事業</a>
    </div>    
    <a href="https://herp.careers/v1/delc" class =" border-bottom"><div class="nl-element"><UserSearch />RECRUIT</div></a>
    <a href="/contact/" class =" border-bottom"><div class="nl-element"><Mail />CONTACT</div></a>
    </div>
</div>
</header>