---
import { Building } from "lucide-astro";
import { Presentation } from "lucide-astro";
import { UserSearch } from "lucide-astro";
import { Mail } from "lucide-astro";

import '../styles/header.css';
---

<div class="nav-links" style="text-align: right;">
    <a href="/company/" data-astro-reload><div class="nl-element"><Building />COMPANY</div></a>
    <a href="/services/"><div class="nl-element"><Presentation />SERVICES</div></a>
    <a href="/recruit/"><div class="nl-element"><UserSearch />RECRUIT</div></a>
    <a href="/contact/"><div class="nl-element"><Mail />CONTACT</div></a>
</header>