---
import { ChevronRight } from "lucide-react"
 
import { Button } from "@/components/ui/button"
import IconButton  from "./IconButton.astro"

import { AlignJustify } from "lucide-astro";
import { Cross } from "lucide-astro";

import '../styles/header.css';

---

<div class="hamburger">
  <IconButton iconName="AlignJustify" size="medium" >    
  </IconButton>
</div>


