---
import { House, Building, Presentation, UserSearch, Mail } from "lucide-astro";
---

<!-- 
<div transition:animate="slide" class="nav-links" style="text-align: right;">
  <a href="/">Home</a>
  <a href="/about/" data-astro-reload>About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">タグ</a>
  <a href="/toppage/">トップページ</a>
</div> -->
<div transition:animate="slide" class="flex justify-end gap-6 pr-5">
  <a href="/" class="flex items-center"><House height="16" />Home</a>
  <a href="/about" class="flex items-center"><Building height="16" />About</a>
  <a href="/blog" class="flex items-center"><Presentation height="16" />Blog</a>
  <a href="/tags" class="flex items-center"><UserSearch height="16" />タグ</a>
  <a href="/toppage" class="flex items-center"
    ><Mail height="16" />トップページ</a
  >
</div>
