---

---

<div transition:animate="slide" class="nav-links" style="text-align: right;">
<a href="/">Home</a>
<a href="/about/" data-astro-reload>About</a>
<a href="/blog/">Blog</a>
<a href="/tags/">タグ</a>
<a href="/toppage/">トップページ</a>
</div>
