---
import '../styles/delcInfoGlobal.css'

const { menus, show, anchor } = Astro.props
---

<sideMenu>
    {
        show === 2 ? (
            anchor === false ? (
                <div class="side-menu-block">
                    <div class="side-menu">
                        {menus && menus.length > 0 ? (
                            menus.map((menu: { url: string; text: string }) => (
                                <a href={'/' + menu.url}>{'・' + menu.text}</a>
                            ))
                        ) : (
                            <li>No items available</li>
                        )}
                    </div>
                </div>
            ) : (
                <div class="side-menu-block">
                    <div class="side-menu">
                        {menus && menus.length > 0 ? (
                            menus.map((menu: { url: string; text: string }) => (
                                <a href={'#' + menu.url}>{'・' + menu.text}</a>
                            ))
                        ) : (
                            <li>No items available</li>
                        )}
                    </div>
                </div>
            )
        ) : show === 1 ? null : null
    }
</sideMenu>
