---
import Header from '../components/DelcHeader.astro';
import Footer from '../components/DelcFooter.astro';
import '../styles/delcGlobal.css';
import { ViewTransitions,slide } from "astro:transitions";
const { pageTitle,tabTitle } = Astro.props;
import localBrandingImage from '../images/branding.svg';
import localLogoImage from '../images/logo.svg';

import "@fontsource-variable/noto-sans-jp"
import "@fontsource-variable/oswald"
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tabTitle}</title>
    <ViewTransitions />
  </head>
  <body class="font-body">
    <Header />
    <a href="/toppage/",div class = "company-header">
    <div class="company-branding"/>
    <div class="company-logo"/></a>
    </div>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>